.title {
  color: steelblue;
}

.main {
  background-image: url("https://w0.peakpx.com/wallpaper/449/445/HD-wallpaper-rugby-charabines.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
